.spacer{
    flex: 1 1 auto;
}

.title{
    padding-left: 1%;
}

.tool-bar{
    background-color:#3F51B5;   
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.network-off, .network-on{
    display: inline-flex;
}